<h3>
    {{ legend }}</h3>
<div class="input-group">
    <div class="input-group-append" id="button-addon4">
        <button (click)="changeValue(-5)" class=" btn btn-primary " type="button"><i class="mdi mdi-minus"></i></button>
    </div>

    <input type="text " class="form-control" name="percentage" [(ngModel)]="percentage">

    <div class="input-group-prepend " id="button-addon4 ">
        <button (click)="changeValue(+5)" class="btn btn-primary " type="button"><i class="mdi mdi-plus"></i></button>
    </div>
</div>